# Dependencies
/node_modules

# Build artifacts
/dist

# Environment variables
.env
*.env.local
*.env.*.local
!config.example.env

# Service Account credentials
/sa/
*.json
!package*.json
!tsconfig.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.tmp

# OS-specific files
.DS_Store
Thumbs.db 